@{
    ViewBag.Title = "Contact";
}
<div class="text-center">
    <h2>@ViewBag.Title.</h2>
    

    <address>
        <strong>Smart School System</strong><br>
        JC Main Road, Near Silnile tower<br>
        Lahore.<br />
        <abbr title="Phone">P:</abbr>
        +923200498942
    </address>

    <address>
        <strong>Email:</strong><p>hariskhan3465@gmail.com</p><br />
    </address>
    </div>
