
@{
    ViewBag.Title = "StudentReports";
}

<h2>Student Reports</h2>



<div class="form-group">
    <label for="Termlist1" class="control-label col-md-2">Term: </label>
    <div class="col-md-10">
        <select id="Termlist1" name="Termlist1" class="form-control">
            @foreach (var o in ViewBag.Options1)
            {
                <option value="@o.ToString()">@o.ToString()</option>
            }
        </select>
    </div>
</div>

<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <button id="studentinfo" name="studentinfo" class="btn btn-primary" style="background-color:black; border-color:black; align-self:center">Student Information Report</button>
</div>
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <button id="studentsubject" name="studentsubject" class="btn btn-primary" style="background-color:black; border-color:black; align-self:center">Student Subjects Report</button>
</div>
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <button id="studenttotalmarks" name="studenttotalmarks" class="btn btn-primary" style="background-color:black; border-color:black; align-self:center">Student Total Marks Report</button>
</div>
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <button id="studenttermwisemarks" name="studenttermwisemarks" class="btn btn-primary" style="background-color:black; border-color:black; align-self:center">Student Term Wise Marks Report</button>
</div>
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <button id="studentalltermmarks" name="studentalltermmarks" class="btn btn-primary" style="background-color:black; border-color:black; align-self:center">Student's All Term Marks</button>
</div>
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <button id="studentattendance" name="studentattendance" class="btn btn-primary" style="background-color:black; border-color:black; align-self:center">Student's Attendance</button>
</div>
<div style="align-self:center; text-align:center;padding-bottom:30px;">
    <button id="detailedstudentmarking" name="detailedstudentmarking" class="btn btn-primary" style="background-color:black; border-color:black; align-self:center">Detailed Student Assessment Report</button>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<script>


    $("#studentsubject").click(function () {
        gotostudentsubject();
    })


    function gotostudentsubject() {
        debugger;
        event.preventDefault();
        var $url = '/Reports/JsonSuccess2';
        
        $.ajax({
            url: $url,
            type: 'POST',
            datatype: 'json',
            data: jQuery.param({
                studentname: ""
            }),
            success: function (r) {
                window.location.href = '/Reports/StudentSubjects'
            }
        })
    }
    $("#detailedstudentmarking").click(function () {
        gotodetailedstudentmarking();
    })


    function gotodetailedstudentmarking() {
        debugger;
        event.preventDefault();
        var $url = '/Reports/JsonSuccess2';
        $.ajax({
            url: $url,
            type: 'POST',
            datatype: 'json',
            data: jQuery.param({
                studentname: ""
            }),
            success: function (r) {
                window.location.href = '/Reports/DetailedStudentMarking'
            }
        })
    }
    $("#studentinfo").click(function () {
        gotostudentinfo();
    })


    function gotostudentinfo() {
        debugger;
        event.preventDefault();
        var $url = '/Reports/JsonSuccess2';
        $.ajax({
            url: $url,
            type: 'POST',
            datatype: 'json',
            data: jQuery.param({
                studentname: ""
            }),
            success: function (r) {
                window.location.href = '/Reports/StudentInfo'
            }
        })
    }


    $("#studentattendance").click(function () {
        gotostudentattendance();
    })


    function gotostudentattendance() {
        debugger;
        event.preventDefault();
        var $url = '/Reports/JsonSuccess2';
        $.ajax({
            url: $url,
            type: 'POST',
            datatype: 'json',
            data: jQuery.param({
                studentname: ""
            }),
            success: function (r) {
                window.location.href = '/Reports/StudentAttendance'
            }
        })
    }

    $("#studentalltermmarks").click(function () {
        gotostudentalltermmarks();
    })


    function gotostudentalltermmarks() {
        debugger;
        event.preventDefault();
        var $url = '/Reports/JsonSuccess2';
        $.ajax({
            url: $url,
            type: 'POST',
            datatype: 'json',
            data: jQuery.param({
                studentname: ""
            }),
            success: function (r) {
                window.location.href = '/Reports/StudentAllTermMarks'
            }
        })
    }
    $("#studenttotalmarks").click(function () {
        gotostudenttotalmarks();
    })


    function gotostudenttotalmarks() {
        debugger;
        event.preventDefault();
        var $url = '/Reports/JsonSuccess2';
        $.ajax({
            url: $url,
            type: 'POST',
            datatype: 'json',
            data: jQuery.param({
                studentname: ""
            }),
            success: function (r) {
                window.location.href = '/Reports/StudentTotalMarks'
            }
        })
    }
    $("#studenttermwisemarks").click(function () {
        gotostudenttermwisemarks();
    })


    function gotostudenttermwisemarks() {
        debugger;
        event.preventDefault();
        var $url = '/Reports/JsonSuccess3';
        $.ajax({
            url: $url,
            type: 'POST',
            datatype: 'json',
            data: jQuery.param({
                studentname: "",
                termname : $("#Termlist1").find(":selected").text()
            }),
            success: function (r) {
                window.location.href = '/Reports/StudentTermWiseMarks'
            }
        })
    }

</script>
